<!--**********************************************************************************************
==================================================================================================
Purpose : Showing Dynamic SOQL Query Component In UI
==================================================================================================

**************************************************************************************************-->

<template>
    <lightning-card title="Dynamic Query" icon-name="utility:search">
        <div class="slds-m-around_medium">
            <lightning-combobox
                label="Select Object"
                placeholder="Select an Object"
                options={objectOptions}
                value={selectedObject}
                onchange={handleObjectChange}>
            </lightning-combobox>

            <lightning-dual-listbox
                label="Select Fields"
                source-label="Available Fields"
                selected-label="Selected Fields"
                options={fieldOptions}
                value={selectedFields}
                onchange={handleFieldChange}>
            </lightning-dual-listbox>

            <lightning-textarea
                label="Filter Conditions"
                placeholder="Enter filter conditions (optional)"
                value={filterConditions}
                onchange={handleFilterChange}>
            </lightning-textarea>

            <lightning-button
                label="Execute Query"
                variant="brand"
                onclick={executeQuery}>
            </lightning-button>

            <template if:true={queryResult}>
                <lightning-datatable
                    key-field="Id"
                    data={queryResult}
                    columns={columns} 
                    class="slds-scrollable"
                    >
                </lightning-datatable>
            </template>
        </div>
    </lightning-card>
</template>